<div class="container">
  <h3>Welcome To The QuizZone</h3>
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div>

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            
              <div class="col-lg-6 d-none d-lg-block">
              <img src="assets/images/logo.png" style="height: 600px;width: 600px">
  
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
